# Arquivos de Sistema Operacional e Ferramentas
.DS_Store
Thumbs.db
*.log

# Dependências (gerenciadas pelo Composer e NPM)
/node_modules
/vendor

# Laravel - Pastas Públicas
/public/build
/public/hot
/public/storage

# Laravel - Arquivos de Cache e Sessão do Storage
# Esta seção resolve o seu problema principal e previne outros!
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/testing/
/storage/framework/views/
/storage/*.key
/storage/pail

# Arquivos de Ambiente (NUNCA envie para o repositório)
.env
.env.backup
.env.production
Homestead.json
Homestead.yaml
auth.json

# Arquivos de IDEs e Editores de Código
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json
.phpunit.result.cache